<%inherit file='base.html' />

<%block name='extrahead'>
    <title>weekly-tng.Главная</title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js"></script>
    <script src="/static/js/ng-grid-2.0.1.min.js"></script>
    <script src="/static/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />
    <link rel="stylesheet" href="/static/css/custom.css">
</%block>

<%block name='content'>
    <div class="container" ng-app="MainApp">
        <div class="row">

            <div class="col-md-1 col-md-offset-9">
                Привет, {{ request.user.username }}!
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger" onclick="location.href='/accounts/logout'">
                    Выход
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked" id="Tabs">
                    <li class="active"><a href="#home">Текущая неделя</a></li>
                    <li><a href="#trainings">Тренировки</a></li>
                    <li><a href="#info">О сервисе</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        Нечего показывать
                    </div>
                    <div class="tab-pane" id="trainings" ng-controller="TngGreed">
                        <div class="row top-buffer">
                            <div class="col-md-9 col-md-offset-1">
                                 <div ng-grid="gridOptions" class="gridStyle"></div>
                            </div>
                        </div>
                        <div class="row">
                           <div class="col-md-5 col-md-offset-1">
                               <form action="/training/"
                                     role="form"
                                     method="post">
                                   <input type="text" value="${xsrf}"
                                          name="_xsrf" id="_xsrf"
                                          hidden/>
                                   <div class="form-group">
                                       <input type="text"
                                               class="form-control"
                                               placeholder="Название"
                                               id="name"
                                               name="name"
                                               required
                                               autofocus
                                               />
                                   </div>
                                   <div class="form-group">
                                       <input type="text"
                                               class="form-control"
                                               placeholder="Цель"
                                               id="goal"
                                               name="goal"
                                               required
                                               />
                                   </div>
                                   <div class="form-group">
                                       <select
                                               class="form-control"
                                               id="tng_type"
                                               name="tng_type">
                                           <option value="repetition">Повторения</option>
                                           <option value="bool">Да/Нет</option>
                                       </select>
                                   </div>
                                   <input type="submit"
                                           class="btn btn-success btn-block"
                                           value="Добавить"/>
                               </form>
                           </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="info">
                        Ничего
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#Tabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });

    </script>
</%block>
